form {
    margin-top: 3rem;
  }
  
  form input[name="city"],
  form input[name="country"] {
    background-color: transparent;
    color: rgb(243, 234, 234);
    border: none;
    border-bottom: 2px solid rgb(243, 239, 239);
    border-radius: 0;
  }